
<div class="fixed-bottom">
  <div class="row primeiro">
    <div class="col-12 col-md-7 m-b-30">
        <p id="p" class="text-left">A BRQ constrói aplicações sob medida assim como produtos e canais digitais. Implementa também uma gama abrangente de soluções de tecnologia e faz a gestão de aplicações, de infraestrutura e de processos para seus clientes.</p>
    </div>
    <a>
      <img  src="/assets/carrinho.png" alt="" class="img-fluid"/>
    </a>
  </div>
</div>

<div class="fixed-bottom">
    <div class="row">
      <div class="container">
        <span>Termos de uso | Política de Privacidade</span>
      </div>
    </div>
  </div>
  
  