
<div class="fixed-bottom">
  <div class="row primeiro">
    <div class="col-12 col-md-4 m-b-35">
        <p id="p" class="text-left">A BRQ constrói aplicações sob medida assim como produtos e canais digitais. Implementa também uma gama abrangente de soluções de tecnologia e faz a gestão de aplicações, de infraestrutura e de processos para seus clientes.</p>
    </div>
    
    
  <div class="col-12 col-md-6 fb">
    <div style="float: right;">
        <a href="#">
            <img class="face" src="/assets/redessociais/facebook-logo.svg" alt="" />
           </a>
           <a href="#">
             <img class="insta" src="/assets/redessociais/instagram.svg" alt=""/>
           </a>
           <a href="#">
             <img class="tt" src="/assets/redessociais/twitter.svg"  alt=""/>
           </a>
           <br>
           <br>
           <a href="#" class="email" > contato@brq.com.br
          </a>
    </div>
    
  </div>
    <a>
      <img  src="/assets/carrinho.png" alt="" class="img-fluid"/>
    </a>
  </div>
</div>


<div class="fixed-bottom">
    <div class="row">
      <div class="container">
        <span>Termos de uso | Política de Privacidade</span>
      </div>
    </div>
  </div>
  
  