<section class="container">
    <form>
      <!-- Cadastro -->
        <div class="form-group">
          <label for="">Nome Completo</label>
          <input type="text" class="form-control" placeholder="Nome Completo">
        </div>
        <div class="form-group">
          <label for="">CPF</label>
          <input type="number" class="form-control" placeholder="CPF">
        </div>
        <div class="form-group">
          <label for="">RG</label>
          <input type="number" class="form-control" placeholder="RG">
        </div>
        <div class="form-group">
          <label for="">Telefone</label>
          <input type="phone" class="form-control" placeholder="(XX) - XXXXX-XXXX">
        </div>
        <div class="form-group">
          <label for="">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail de login">
        </div>
        <div class="form-group">
          <label for="">Senha</label>
          <input type="password" class="form-control" id="" placeholder="Senha">
        </div>  
        <div class="form-group">  
          <label for="">Repita a Senha</label>
          <input type="password" class="form-control" id="" placeholder="Repita a senha">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </section> 
  