<div class="container col-lg-6" >
    <h1>Quem somos</h1>

    <p>
        Lançada em 2019, a BRQ Travel é uma agência de venda de pacote de viagens,
        oferecendo um serviço de alta qualidade e com o melhor custo benefício para
        os seus clientes por meio de uma grande variedade de destinos, excelência no
        atendimento e busca constante de novas tendências no mercado.
    </p>
    
    <p>Nascemos para revolucionar o turismo brasileiro.</p>
    
    <p>Acreditamos que as viagens tem poderes extraordinários. São escapes para fugirmos
        da rotina e do cotidiano. São momentos únicos para refletirmos sobre a vida, que
        nos rejuvenescem e nos relaxam. Acima de tudo, nos motivam a explorar e conhecer
        mais sobre nós mesmos e o mundo afora, e ir além.
    </p>

    <p>Nossa equipe é composta de profissionais competentes e totalmente qualificados na
        área, além de uma estrutura organizada e preparada para receber bem e satisfazer
        suas necessidades. Nossa missão é trabalhar para que o cliente desfrute da satisfação
        de viajar em sua plenitude.
    </p>

    <p>Muito obrigado em nome de toda equipe!</p>
</div>