<section class="container">
  <div class="jumbotron col-sm-12">
    <h1 class="display-5">Pacotes de viagens</h1>
    <hr>
    <div id="button" class="container btn-group btn-group-toggle">
      <label type="button" class="btn btn-lg btn-primary active">
        <input type="radio" (click)="setTypeTravelHosp()"> Pacotes com hospedagem
      </label>
      <label type="button" class="btn btn-lg btn-primary">
        <input type="radio" (click)="setTypeTravelBV()"> Pacotes com bate volta
      </label>
      <!-- <button type="button" class="btn btn-lg btn-primary" (click)="carregarPacotes()" >Todos os pacotes</button> -->
    </div>
  </div>
</section>

<section class="container">
  <div>
    <!-- <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pacotes com Hospedagem</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-primary" (click)="setTypeTravel(1)"
              aria-controls="collapseBasic">Pacotes com Hospedagem
            </button>
          </div>
        </div>
      </div> -->

    <!-- <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pacotes de Bate e volta</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-primary" (click)="setTypeTravel(2)"
              aria-controls="collapseBasic">Pacotes de Bate e Volta
            </button>
          </div>
        </div>
      </div> -->

    <div id="collapseBasic" [collapse]="isCollapsed">
      <ul>
        <li *ngFor="let destinosHosp of destinoCardsHosp | slice:0:3" let i="index">
          <app-card-travel [destino]="destinosHosp"></app-card-travel>
        </li>
        <div *ngIf="seeMore">
          <li *ngFor="let destinosHosp of destinoCardsHosp | slice:3:100" let i="index">
            <app-card-travel [destino]="destinosHosp"></app-card-travel>
          </li>
        </div>
      </ul>
      <div *ngIf="viewBtn">
        <div *ngIf="hideBtn">
          <button (click)="setSeeMoreHosp()">Carregar mais Hosp</button>
        </div>
      </div> 
    </div>

    <div id="collapseBasic" [collapse]="!isCollapsed">
      <ul>
        <li *ngFor="let destinosBV of destinoCardsBateVolta | slice:0:3" let i="index">
          <app-card-travel [destino]="destinosBV"></app-card-travel>
        </li>
        <div *ngIf="seeMore">
          <li *ngFor="let destinosBV of destinoCardsBateVolta | slice:3:100" let i="index">
            <app-card-travel [destino]="destinosBV"></app-card-travel>
          </li>
        </div>
      </ul>
      <div *ngIf="viewBtn2">
        <div *ngIf="hideBtn">
          <button (click)="setSeeMoreBat()">Carregar mais Bat</button>
        </div>
      </div> 
    </div>



<!-- =====
    <div id="collapseBasic" [collapse]="!isCollapsed">
      <ul>
        <li *ngFor="let destinos of destinoCardsDisplay | slice:0:3">
          <app-card-travel [destino]="destinos"></app-card-travel>
        </li>
        <div *ngIf="seeMore2">
          <li *ngFor="let destinos of destinoCardsDisplay | slice:3:100">
            <app-card-travel [destino]="destinos"></app-card-travel>
          </li>
        </div>
      </ul>
    </div>
====== -->



    <!-- <div id="collapseBasic" [collapse]="!isCollapsed">
      <ul>
        <li *ngFor="let filtroTodosDestinos of filtroTodosDestinos">
          <app-card-travel [destino]="filtroTodosDestinos"></app-card-travel>
        </li>
      </ul>
    </div> -->
  </div>
  <!-- <div *ngIf="viewBtn">
    <button (click)="setSeeMoreHosp()">Carregar mais Hosp</button>
    <button (click)="setSeeMoreBat()">Carregar mais Bat</button>
  </div>   -->
</section>