section {
    padding-top: 20px;
    font-family: 'Roboto';
}

.inline-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
}

.card {
    margin: 20px 20px;
}

h2 {
    font-family: 'Alfa Slab One', cursive;
}