<div class="text-center" style="margin-top: 150px; margin-bottom: 150px;" *ngIf="isloading">
  <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="!isloading">
  <section class="container">
    <div class="jumbotron col-sm-12">
      <h1 class="display-5">Pacotes de viagens</h1>
      <div id="button" class="container  btn-group-toggle btn-style-group-travel">
        <label type="button" class="btn btn-style-margin-hospedagem btn-lg btn-primary btn-style-travel active">
          <input type="radio" (click)="typeTravelHospedagem()"> Pacotes com hospedagem
        </label>
        <label type="button" class="btn btn-style-margin-batevolta btn-lg btn-primary btn-style-travel">
          <input type="radio" (click)="typeTravelBateVolta()"> Pacotes com bate volta
        </label>
      </div>
    </div>
  </section>

  <section class="container">
    <div>
      <div id="collapseBasic" [collapse]="isCollapsed">
        <ul>
          <li *ngFor="let destinosHosp of destinoCardsHospedagem | slice:0:3" let i="index">
            <app-card-travel [destino]="destinosHosp"></app-card-travel>
          </li>
          <div *ngIf="seeMore">
            <li *ngFor="let destinosHosp of destinoCardsHospedagem | slice:3:100" let i="index">
              <app-card-travel [destino]="destinosHosp"></app-card-travel>
            </li>
          </div>
        </ul>
        <div *ngIf="viewBtnHosp">
          <div *ngIf="hideBtn">
            <!-- <button type="button" class="btn btn-primary btn-lg btn-block btn-style-exibir-mais"
              (click)="seeMoreHospedagem()">exibir mais {{ destinoQtHospedagem }} destino(s)</button> -->
            <div class="a-align-center">
              <a class="a-style-font"
              (click)="seeMoreHospedagem()">exibir mais {{ destinoQtHospedagem }} destino(s)</a> 
            </div>
          </div>
        </div>
      </div>
      <div id="collapseBasic" [collapse]="!isCollapsed">
        <ul>
          <li *ngFor="let destinosBV of destinoCardsBateVolta | slice:0:3" let i="index">
            <app-card-travel [destino]="destinosBV"></app-card-travel>
          </li>
          <div *ngIf="seeMore">
            <li *ngFor="let destinosBV of destinoCardsBateVolta | slice:3:100" let i="index">
              <app-card-travel [destino]="destinosBV"></app-card-travel>
            </li>
          </div>
        </ul>
        <div *ngIf="viewBtnBV">
          <div *ngIf="hideBtn">
            <button type="button" class="btn btn-primary btn-lg btn-block btn-style-exibir-mais"
              (click)="seeMoreBateVolta()">exibir mais {{ destinoQtBateVolta }} destino(s)</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>