section {
    padding-top: 20px;
    font-family: 'Roboto';
}

h2, h5 {
    font-family: 'Alfa Slab One', cursive;
}

.inline-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.style-card {
    border: 0;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px 5px;
    margin: 20px 20px;
    height: 600px;
}

.style-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    height: 260px;
}

