section {
    padding-top: 20px;
    font-family: 'Roboto';
}

h2, h5 {
    font-family: 'Alfa Slab One', cursive;
}

.inline-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.style-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    height: 260px;
}
/* .style-card {
    border: 0;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px 5px;

} */
.style-card{
    border-radius: 10px;
    border-color:#dfdfdf;
    margin: 20px 20px;
    transition: all 0.5s;
    cursor: pointer;
    height: 600px;
    width: 18rem;
}

.style-card:hover{
    -webkit-filter: drop-shadow(0 0 0.75rem #015f9d);
    filter: drop-shadow(0 0 0.75rem #015f9d);
}

.btnsection {
    text-align: right;
}