<div class="container col-lg-5 col-md-8 col-sm-12 border-style-card">
    <form [formGroup]="MyAccountForm" *ngFor="let user of CurrentUser">
      <h2>Minha conta</h2>
      <br><div id="mensagemView">
        <p class="{{this.status.isDanger? 'alert alert-danger' : 'alert alert-success'}}" *ngIf="!this.status.valid" >{{this.MsgError}}</p>
      </div>
      <div class="form-group">
          <!-- <label for="name">Nome Completo:</label> -->
          <mat-form-field>
            <input type="text" matInput formControlName="name" placeholder="Nome Completo" value= {{(user.name)}}>
          </mat-form-field>
          <div *ngIf="!name.pristine && name.errors">
            <p class= "TxtError" *ngIf="name.errors.required">Nome é obrigatório</p>
            <p class= "TxtError" *ngIf="name.errors.minlength">Nome deve ter no mínimo 3 caracters.</p>
            <p class= "TxtError" *ngIf="name.errors.maxlength">Nome deve ter no máximo 100 caracters.</p>
          </div>
      </div>
  
      <div class="form-row">
        <div class="col-lg-6 bottom-label">
          <!-- <label for="cpf">CPF:</label> -->
          <mat-form-field>
            <input type="text" matInput formControlName="cpf" mask="000.000.000-00" placeholder="CPF" value={{(user.cpf)}}>
          </mat-form-field>
          <div *ngIf="!cpf.pristine && cpf.errors">
            <p class= "TxtError" *ngIf="cpf.errors.required">CPF é obrigatório.</p>
            <p class= "TxtError" *ngIf="cpf.errors.cpfInvalido">Digite um CPF válido.</p>
          </div>
        </div>
        <div class="col-lg-6 bottom-label">
          <!-- <label for="rg">RG:</label> -->
          <mat-form-field>
            <input type="text" matInput formControlName="rg" mask="00.000.000-0" placeholder="RG" value={{(user.rg)}}>
          </mat-form-field> 
          <div *ngIf="!rg.pristine && rg.errors">
            <p class= "TxtError" *ngIf="rg.errors.required">RG é obrigatório.</p>
            <p class= "TxtError" *ngIf="rg.errors.maxlength">Digite um RG válido.</p>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col-lg-6 bottom-label">
          <!-- <label for="phone">Telefone:</label> -->
          <mat-form-field>
            <input type="phone" matInput formControlName="phone" mask="(00) 0000-00009" placeholder="Telefone" value={{(user.phone)}}>
          </mat-form-field>
          <div *ngIf="!phone.pristine && phone.errors">
            <p class="TxtError" *ngIf="phone.errors.required">Telefone é obrigatório.</p>
          </div>
        </div>
        <div class="col-lg-6 bottom-label">
          <!-- <label for="email">E-mail:</label> -->
          <mat-form-field>
            <input type="email" matInput placeholder="E-mail de login" disabled value={{(user.email)}}>
          </mat-form-field>
          <div *ngIf="!email.pristine && email.errors">
            <p class="TxtError" *ngIf="email.errors.required">E-mail é obrigatório.</p>
            <p class="TxtError" *ngIf="email.errors.pattern">Digite um e-mail válido.</p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="form-group col-sm-12">
          <button type="submit" class="btn btn-primary" (click)="saveChanges()">Salvar Alterações</button>
        </div>
    </div>
    </form>
  </div>