form {
    padding-top: 20px;
    font-family: 'Roboto';
}

a:hover {
    text-decoration: underline;
    color: #0069D9;
}
.TxtError{
    color: red;
}

.bottom-label {
    padding-bottom: 20px;
}

.mat-form-field{
    width:100% !important;
}

textarea {
    width:100% !important;
}

/* CSS INPUT PRICE */
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }


  /* CSS RADIO BUTTON */
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .border-style-card {
    padding: 12px;
  }