<div class="container col-lg-5 col-md-8 col-sm-12">
    <form>
        <h3>Anúncie sua viagem!</h3>
        <h5>Cadastre já sua viagem:</h5>

        <div class="form-group">
            <!--Input do Angular Material-->
            <mat-form-field>
              <input type="text" matInput placeholder="Nome do Destino">
            </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <input  matInput [matDatepicker]="picker" placeholder="Data de embarque">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        









        <div class="row text-center">
            <div class="form-group col-sm-12">
              <button type="submit" class="btn btn-primary" (click)="NewRegister()">Enviar dados</button>
              <p>Já é membro? <a href="/entrar">Entre!</a></p>
            </div>
        </div>
        
    </form>
  </div>