<div class="container col-lg-5 col-md-8 col-sm-12">
    <form [formGroup]="FormRegister" class="border-style-card">
        <h1>Anuncie sua viagem!</h1>
        <h5>Preencha o formulário abaixo:</h5>
        <br><div id="mensagemView">
          <p class="{{this.status.isDanger? 'alert alert-danger' : 'alert alert-success'}}" *ngIf="!this.status.valid" >{{this.MsgError}}</p>
        </div>
        <div class="form-row">
            <!--Input do Angular Material-->
            <div class="col-lg-12 col-md-6">
              <mat-form-field>
                <mat-label>Nome do Destino</mat-label>
                <input type="text" matInput formControlName="titulo" placeholder="Escreva o nome da Viagem">
              </mat-form-field>
            </div>  
        </div>

        <div class="form-row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field>
              <mat-label>Data de Embarque</mat-label>
              <input  matInput [matDatepickerFilter]="dataFilter" [matDatepicker]="picker1" formControlName="data" placeholder="Escolha a data de Ida">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6"> 
            <mat-form-field>
              <mat-label>Data de Desembarque</mat-label>
              <input  matInput [matDatepickerFilter]="retornoFilter" [matDatepicker]="picker2" formControlName="retorno" placeholder="Escolha a data de Volta">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>  
        </div>
        
        <div class="form-row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field>
              <mat-label>Local de Embarque</mat-label>
              <input type="text" matInput formControlName="embarque" placeholder="Escolha o local de embarque">
            </mat-form-field>
          </div>  
          <div class="col-lg-6 col-md-6">
            <mat-form-field>
              <mat-label>Valor da Viagem</mat-label>
              <span matPrefix>R$&nbsp;</span>
              <input type="number" matInput formControlName="valor" placeholder="Defina o valor da viagem">
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-6 col-md-6">
            <mat-form-field>
              <mat-label>Qtde. de Vagas</mat-label>
              <input type="number" matInput formControlName="vagas" placeholder="Defina a quantidade de vagas">
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-radio-group formControlName="tipo" type="number" aria-label="Select an option">
              <mat-radio-button checked value=1>Hospedagem</mat-radio-button>
              <mat-radio-button value=2>Bate e Volta</mat-radio-button>
            </mat-radio-group>
          </div>  
        </div>

        <div class="form-row">
          <div class="col-lg-12 col-md-12">  
            <mat-form-field>
              <mat-label>Mini Descrição</mat-label>
              <textarea rows="5" cols="33" matInput formControlName="descricaocard" placeholder="Escreve um mini resumo sobre a viagem"></textarea>
            </mat-form-field>
          </div>  
        </div>

        <div class="form-row">
          <div class="col-lg-12 col-md-12">
            <mat-form-field>
              <mat-label>Descritivo Completo</mat-label>
              <textarea rows="5" cols="33" matInput formControlName="descricao" placeholder="Escreve o descritivo completo da viagem"></textarea>
            </mat-form-field>
          </div>  
        </div>
          <!-- <div class="form-group">
            <input type="file" #inputFile (change)="upload($event)" accept=".jpg, .jpeg, .png">
            <progress style="width: 100%;" max="100" [value]="(uploadPercent | async)"></progress>
        </div> -->


        <div class="row text-center">
            <div class="form-group col-sm-12">
              <button type="submit" class="btn btn-primary" (click)="OnSubmit()">Enviar dados</button>
            </div>
        </div>
        
    </form>
  </div>