<section class="section-b-space light-layout">
<div class="countainer">
    <div class="row">
        <div class="col-md-12">
            <div class="success-text">
                <i class="fa fa-check-circle"> </i>
                <h2> Obrigadao </h2>
                <p> O pagamento foi realizado com sucesso!</p>
                <p> Por favor, ir para a próxima página e seguir as instrução para adquirir o voucher de acesso.</p>
            </div>
        </div>
    </div>
</div>    
</section>