<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">

  <div class="card shopping-cart" *ngIf="!isEmpty">

    <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Shopping cart
      <div class="clearfix"></div>
    </div>
    <div *ngFor="let oferta of produtos; let q = index" class="card-body">
      <!-- PRODUCT -->
      <div class="row">
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong> {{ oferta.titulo }} </strong></h4>
        </div>
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="card-img-top style-img" [src]="oferta.imagens[0].url" alt="imagem do card">
        </div>

        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong> <span>  {{ oferta.valor | currency: 'BRL': true }}</span>
                <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <!-- <input type="button" value="+" (click)="onAddQuantity(prod)" class="plus"> -->
              <input type="number" step="1" max="45" min="1" value="1" title="Qty" (click)="addItem(product)" class="qty" size="4">
              <!-- <input type="button" value="-" class="minus"> -->
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" (click)="remove(item)" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- END PRODUCT -->
      <!-- PRODUCT -->
      <!-- <div class="row" *ngFor="let oferta of produtos; let q = index">
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
          <h4 class="product-name"><strong>{{ oferta.titulo }}</strong></h4>

        </div>
        <div class="col-12 col-sm-12 col-md-2 text-center">
          <img class="card-img-top style-img" [src]="oferta.imagens[0].url" alt="Imagem de capa do card">
        </div>

        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
          <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong> {{ oferta.valor }} <span class="text-muted">x</span></strong></h6>
          </div> -->
      <!-- <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
              <input type="button" value="+" class="plus">
              <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
              <input type="button" value="-" class="minus">
            </div>
          </div> -->
      <!-- <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button> -->
      <!-- </div>
        </div> -->
      <!-- </div> -->

      <!-- END PRODUCT -->
      <!-- <div class="pull-right">
                    <a href="" class="btn btn-outline-secondary pull-right">
                        Update shopping cart
                    </a>
                </div> -->
      <!-- </div> -->
      <div class="card-footer">
        <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
          <div class="row">

          </div>
        </div>
        <div class="pull-right" style="margin: 10px">
          <a href="" class="btn btn-success pull-right" routerLink='/pagamento'>Checkout</a>
          <div class="pull-right" style="margin: 5px">
             <span> Total: {{ oferta.valor | currency: 'BRL': true}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 *ngIf="authService.isLoggedIn; else !authService.isLoggedIn" class="display-4">Olá, {{(GetUser)}}!</h1>
      <p class="lead">O seu carrinho está vazio.</p>
    </div>
  </div> -->


  <!-- <div class="oferta"  >
      <div class="row"  *ngFor="let item of pacotes">
        <div class="col">
            <h4>{{ item.titulo }}</h4>
        </div>
      </div>
      <br>
      <div class="row" *ngFor="let item of pacotes">
        <div class="col-md-6">
          <div class="img_capa" >
            <img class="img-fluid" [src] ="item.imagens[0].url " /> 
          </div>
          <div class="inline-img">
            <div class="thumbnails" *ngFor="let imagem of imagens">
             <img class="img-fluid" [src] ="imagem.url" />
           </div>
         </div> 
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col text-center">
              <p>Por apenas</p>
            </div>
          </div>
          <div class="row" >
            <div class="col text-center">
              <h1> R$ {{ item.valor }} </h1>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="button"  routerLink="['/carrinho-de-compras', item.id]" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
            </div>
          </div>
          <br>
            <div class="row">
              <div class="col text-center">
                <label>
                <p> Data do embarque: {{ item.data }}</p>
                <p>Vagas Restantes: {{ item.vagas}} </p>
                <p> Anunciado por: {{ item.anunciante}} </p>
                <p> Descrição: {{ item.descricao }} </p>
                </label>
              </div>
            </div>
        </div> 
      
  -->