<div class="container col-lg-5 col-md-8 col-sm-12">

  <form [formGroup]="FormPayment">
    <h2>Pagamento</h2>
    <tabset>
      <tab heading="Cartão de crédito">
        <h5>Dados do cartão</h5>
        
        <div class="form-group">
          <mat-form-field>
            <input type="text" matInput formControlName="cardnumber" placeholder="Número do cartão">
          </mat-form-field>
        </div>

        <div class="form-row">
          <div class="col-lg-6 bottom-label">
            <div class="form-row">
              <div class="col-lg-6">
                <mat-form-field > 
                  <mat-select placeholder="Mês">
                    <mat-option value="01">Janeiro</mat-option>
                    <mat-option value="02">Fevereiro</mat-option>
                    <mat-option value="03">Março</mat-option>
                    <mat-option value="04">Abril</mat-option>
                    <mat-option value="05">Maio</mat-option>
                    <mat-option value="06">Junho</mat-option>
                    <mat-option value="07">Julho</mat-option>
                    <mat-option value="08">Agosto</mat-option>
                    <mat-option value="09">Setembro</mat-option>
                    <mat-option value="10">Outubro</mat-option>
                    <mat-option value="11">Novembro</mat-option>
                    <mat-option value="12">Dezembro</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-lg-6">
                <mat-form-field>
                  <mat-select  placeholder="Ano">
                    <mat-option value="2020">2020</mat-option>
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2023">2023</mat-option>
                    <mat-option value="2024">2024</mat-option>
                    <mat-option value="2025">2025</mat-option>
                    <mat-option value="2026">2026</mat-option>
                    <mat-option value="2027">2027</mat-option>
                    <mat-option value="2028">2028</mat-option>
                    <mat-option value="2029">2029</mat-option>
                    <mat-option value="2030">2030</mat-option>
                    <mat-option value="2031">2031</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
                </div>
            </div>
          
        <div class="col-lg-6 bottom-label">
          <mat-form-field>
            <input type="text" matInput formControlName="securenumber" mask='000' placeholder="Código de segurança">
          </mat-form-field>
        </div>
      </div>

        <h5>Dados do titular do Cartão</h5>
        <div class="form-group">
          <mat-form-field>
            <input type="text" matInput formControlName="name" placeholder="Nome impresso no cartão">
          </mat-form-field>
        </div>

        <div class="form-row">
          <div class="col-lg-6 bottom-label">
            <mat-form-field>
              <input type="text" matInput formControlName="birthday" placeholder="Data de nascimento">
            </mat-form-field>
          </div>
          <div class="col-lg-6 bottom-label">

          <mat-form-field>
            <input type="text" matInput formControlName="cpf" placeholder="CPF">
          </mat-form-field>
        </div>

        </div>
        <div class="form-group">
          <mat-form-field>
            <input type="text" matInput formControlName="telephone" placeholder="Telefone">
          </mat-form-field>
        </div>
                <!-- <mat-form-field>
                  <input type="text" matInput formControlName="numbercard" placeholder="Número do cartão">
                </mat-form-field> -->
   

      </tab>
      <tab heading="Boleto"></tab>
    </tabset>
    <div class="row text-center">
      <div class="form-group col-sm-12">
        <button type="submit" class="btn btn-primary">Realizar pagamento</button>
      </div>
  </div>
  </form>
</div> 