form {
    padding-top: 20px;
    font-family: 'Roboto';
}

a:hover {
    text-decoration: underline;
    color: #0069D9;
}

.margin-forgot-password {
    margin: 30px 0;
}
    
.TxtError{
    color: red;
}

.mat-form-field{
    width:100% !important;
}
.border-style-card {
    padding: 12px;
}
   


    