@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

h3 {
    font-family: 'Alfa Slab One', cursive;
}

form {
    padding-top: 20px;
    font-family: 'Roboto';
}

a:hover {
    text-decoration: underline;
    color: #0069D9;
}

    
