<br>
<div class="container">
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
  </div>
  <hr />
<!--  carrosel  -->
<carousel>
  <slide>
    <img src="assets/pacotes/img_1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/pacotes/img_3.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/pacotes/img_4.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<br>

<div class="container">
  <div class="secao">
    <h5 class="text-center">Aproveite as ofertas que separamos para você</h5>
  </div>
  <hr />
<!--  card  -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/pacotes/img1.jpg" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Water Park</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Descrição da viagem </li>
        <li class="list-group-item"> R$ </li>
      </ul>
    </div>
    <button routerLinkActive="active" routerLink="/visualizacao" type="button" class="btn btn-primary">Visualizar</button>
    
    
  </div>