.text-center {
    padding-top: 20px;
}
img {
    height: 360px;
    width: 100%;
}
.alingn-cards-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


