<br>
<div class="container size-screen">
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
  </div>
  <hr />
<!--  carrosel  -->
<carousel>
  <slide>
    <img src="assets/pacotes/banner1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide>
    <img src="assets/pacotes/banner2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
  <slide>
    <img src="assets/pacotes/banner3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </slide>
</carousel>
<br>

<div class="container">
  <div class="secao">
    <h5 class="text-center">Aproveite as ofertas que separamos para você</h5>
  </div>
  <hr />
<app-card-travel *ngFor="let destinos of destaqueCards"  [destino]="destinos" ></app-card-travel> <!-- herda a class card -->
