.navbartopo {
    background-color: #015F9D;
}
.nav-item {
    font-weight: bold;
}
.button{
    padding-right: 250px;
}
.icon-cart {
    height: 48px;
    width: 48px;
}
.icone-empresa{
    height: 50px;
    width: 100px;
}
