<nav class="navbar navbar-expand-lg navbar-light teste">
  <button class="navbar-toggler" type="button" 
  (click)="isCollapsed = !isCollapsed" (click)="disableCart()" aria-expanded="false" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--Logo da Empresas-->
  <a class="nav-link no-underline" href="#" routerLinkActive="active" routerLink="/home">
    <img src="/assets/brq-travel-logo-header.png" alt="Logo da Empresas" class="icone-empresa"/>
  </a>
 <div class="navbar-collapse collapse" [collapse]=!isCollapsed [isAnimated]="true">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/sobre-nos">Sobre Nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/pacotes">Pacotes</a>
      </li>
      <li class="nav-item" *ngFor="let user of CurrentUser">
        <a class="nav-link" *ngIf="user.admin" href="#" routerLinkActive="active" routerLink="/cadastro-de-viagem">Cadastro de Viagens</a>
      </li>
    </ul>
    <!-- <div class="button"> -->
    <!-- <form class="form-inline my-2 " id="InputSearch" >
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary search">Search</button>
      </form> -->
    <!-- </div> -->
    <ul class="navbar-nav">
      <li *ngIf="!authService.isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/entrar"> Entrar </a>
      </li>
      <!-- <li *ngIf="!authService.isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/cadastrar"> Cadastrar </a>
      </li> -->
      <li *ngIf="authService.isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" *ngFor="let user of CurrentUser" routerLink="/minha-conta">Olá, {{(user.name)}}!</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" (click)="authService.SignOut()">Sair</a>
      </li>
    </ul>
  </div>
  <a  *ngIf="!habilitado" class="nav-link no-underline" href="#" routerLinkActive="active" routerLink="/carrinho-de-compras">
    <img src="/assets/shopping-cart.svg" alt="Icone do carrinho de compra" id="cart"/> 
  </a> 
</nav>

<!-- [@cartAnimation]="habilitado ? 'disabled' : 'enabled'" -->

<div class="barra"></div>