.button{
    padding-right: 250px;
}
.icone-empresa {
    height: 102px;
}
/* CSS do Border Bottom dos Links */
.no-underline {
    visibility: unset;
}
.no-underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
a {
    color: #333333!important;
    font-weight: 600;
    position: relative;
}
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #333333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
} 
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.barra {
    background-color: #F8F8F8;
    width: 100%;
    height: 10px;
}
