<div class="container col-lg-5 col-md-8 col-sm-12">
  <form [formGroup]="FormRegister">
    <h3>Novo na BRQ Travel?</h3>
    <h5>Cadastre-se!</h5>
    <br><div id="mensagemView">
      <p class="{{authService.status.isDanger? 'alert alert-danger' : 'alert alert-success'}}" *ngIf="!authService.status.valid" >{{authService.MsgError}}</p>
    </div>
    <div class="form-group">
        <label for="name">Nome Completo:</label>
        <input type="text" formControlName="name" class="{{!name.pristine && name.errors ? 'form-control is-invalid' : 'form-control' }}" placeholder="Nome Completo">
        <div *ngIf="!name.pristine && name.errors">
          <p class= "TxtError" *ngIf="name.errors.required">Nome é obrigatório</p>
          <p class= "TxtError" *ngIf="name.errors.minlength">Nome deve ter no mínimo 3 caracters.</p>
          <p class= "TxtError" *ngIf="name.errors.maxlength">Nome deve ter no máximo 100 caracters.</p>
        </div>
    </div>

    <div class="form-row">
      <div class="col-lg-6 bottom-label">
        <label for="cpf">CPF:</label>
        <input type="text" formControlName="cpf" mask="000.000.000-00" class="{{!cpf.pristine && cpf.errors ? 'form-control is-invalid' : 'form-control' }}"  placeholder="Ex.: 000.000.000-00">
        <div *ngIf="!cpf.pristine && cpf.errors">
          <p class= "TxtError" *ngIf="cpf.errors.required">CPF é obrigatório.</p>
          <p class= "TxtError" *ngIf="cpf.errors.cpfInvalido">Digite um CPF válido.</p>
        </div>
      </div>
      <div class="col-lg-6 bottom-label">
        <label for="rg">RG:</label>
        <input type="text" formControlName="rg" mask="00.000.000-0" class="{{!rg.pristine && rg.errors ? 'form-control is-invalid' : 'form-control' }}" placeholder="Ex.: 00.000.000-0">
        <div *ngIf="!rg.pristine && rg.errors">
          <p class= "TxtError" *ngIf="rg.errors.required">RG é obrigatório.</p>
          <p class= "TxtError" *ngIf="rg.errors.maxlength">Digite um RG válido.</p>
        </div>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col-lg-6 bottom-label">
        <label for="phone">Telefone:</label>
        <input type="phone" formControlName="phone" mask="(00) 0000-00009" class="{{!phone.pristine && phone.errors ? 'form-control is-invalid' : 'form-control' }}" placeholder="Ex.: (00) 0000-0000">
        <div *ngIf="!phone.pristine && phone.errors">
          <p class="TxtError" *ngIf="phone.errors.required">Telefone é obrigatório.</p>
        </div>
      </div>
      <div class="col-lg-6 bottom-label">
        <label for="email">E-mail:</label>
        <input type="email" formControlName="email" class="{{!email.pristine && email.errors ? 'form-control is-invalid' : 'form-control' }}" aria-describedby="emailHelp" placeholder="E-mail de login">
        <div *ngIf="!email.pristine && email.errors">
          <p class="TxtError" *ngIf="email.errors.required">E-mail é obrigatório.</p>
          <p class="TxtError" *ngIf="email.errors.pattern">Digite um e-mail válido.</p>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" formControlName="password" class="{{!password.pristine && password.errors ? 'form-control is-invalid' : 'form-control' }}" placeholder="Senha">
      <div *ngIf="!password.pristine && password.errors">
        <p class= "TxtError" *ngIf="password.errors.required">Senha é obrigatória.</p>
        <p class= "TxtError" *ngIf="password.errors.minlength">Senha deve ter no mínimo 6 caracters.</p>
        <p class= "TxtError" *ngIf="password.errors.maxlength">Senha deve ter no máximo 12 caracters.</p>
      </div>
    </div>  
  
    <div class="form-group">
      <label for="confirmPassword">Repita a Senha:</label>
      <input type="password" formControlName="confirmPassword" class="{{!confirmPassword.pristine && confirmPassword.errors ? 'form-control is-invalid' : 'form-control' }}"placeholder="Repita a senha">
      <div *ngIf="!confirmPassword.pristine && confirmPassword.errors">
        <p class= "TxtError" *ngIf="confirmPassword.errors.required">Confirme sua senha.</p>
        <p class= "TxtError" *ngIf="confirmPassword.errors.senhasNaoCoincidem">As senhas não coincidem.</p>
      </div>
    </div>
    <div class="row text-center">
        <div class="form-group col-sm-12">
          <button type="button" class="btn btn-primary" (click)="NewRegister()">Enviar dados</button>
          <p>Já é membro? <a href="/entrar">Entre!</a></p>
        </div>
    </div>
  </form>
</div>