form {
    padding: 20px 0 20px 0;
    font-family: 'Roboto';
}

a:hover {
    text-decoration: underline;
    color: #0069D9;
}
.TxtError{
    color: red;
}

.mat-form-field{
    width:100% !important;
}

.style-bold {
    font-weight: bold;
}

.border-style-card {
    padding: 12px;
}
    
