<br>
<div class="container" *ngIf="oferta ">
    <div class="row" >
      <div class="col">
        <h4>{{ oferta.titulo }}</h4>
      </div>
    </div>
    <br>
    <div class="row">
    <div class= "col col-sm-2 teste">
      <carousel >
        <slide  *ngFor="let carrossel of oferta.imagens" >
          <img class="imagens" [src]="carrossel.url" alt="first slide">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
      </carousel>
    </div>
  </div>

    <br>

      <div class="col col-md-12 alinhar"> 
          <div class="col text-center  ">
            <label>
              <p>Por apenas</p>
            </label>
          </div>
        

          <div class="col text-center">
            <h1>{{ oferta.valor }}</h1>
          </div>
        

        
          <div class="col text-center">
            <button type="button" routerLink="/carrinho-de-compras" href="#carrinho-de-compras" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        
        <br>

       
          <div class="col text-center" >
            <label>
            <p> Data do embarque: {{ oferta.data }}</p>
            <p> Data de Retorno: {{ oferta.retorno }}</p>
            <p>Vagas Restantes: {{ oferta.vagas }} </p>
            </label>
          </div>
        </div>
    <div class="col col-md-8 tab">
  <tabset>
    <br>
    <tab heading="Descrição" (selectTab)="onSelect($event)">
      <p>Descrição: {{ oferta.descricao }}</p>
      <p>Embarque: {{ oferta.embarque }}</p>
    </tab>
  </tabset>
<br>
    </div>
</div>
