
<div class="container">
  <div class="oferta" *ngIf="oferta !==undefined">
    <br>
    <div class="row">
      <div class="col">
        <h4>{{ oferta.titulo }}</h4>
      </div>
    </div>
    <br>
    
  
    <div class="col-md-6 col-sm-4">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>


      <div class="col-md-6 col-sm-6 alinhar">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{ oferta.valor }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" routerLink="/carrinho-de-compras" href="#carrinho-de-compras" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col text-center">
            <label>
            <p> Data do embarque: {{ oferta.data }}</p>
            <p> Data de Retorno: {{ oferta.retorno }}</p>
            <p>Vagas Restantes: {{ oferta.vagas }} </p>
            </label>
          </div>
        </div>
      </div>



  </div>
  <br>
  <tabset>
    <tab heading="Descrição" class="mt-2" (selectTab)="onSelect($event)">
      <p>Descrição: {{ oferta.descricao }}</p>
      <p>Embarque: {{ oferta.embarque }}</p>
    </tab>
  </tabset>
  <br>

</div>
