<div class="text-center" style="margin-top: 150px; margin-bottom: 150px;" *ngIf="isloading">
  <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container" *ngIf="oferta && !isloading">
  <div class="row">
    <div class="col">
      <h1>{{ oferta.titulo }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6 teste">
      <carousel>
        <slide *ngFor="let carrossel of oferta.imagens">
          <img class="imagens" [src]="carrossel.url" alt="first slide" />
          <div class="carousel-caption d-none d-md-block"></div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="col col-md-10 alinhar">
    <div class="col text-center  ">
      <label>
        <h2 style="font-size: 25px;">Por apenas</h2>
      </label>
    </div>
    <div class="col text-center">
      <h3>{{ oferta.valor | currency:'BRL' }}</h3>
    </div>
    <div class="col text-center">
      <button type="button"class="btn btn-warning btn-lg" (click)="addProductToCart(oferta)" style="margin-top: 6px;" >
        Adicionar ao carrinho
      </button>
    </div>
    <div class="col text-center" >
      <label class="">
        <p>Data do embarque: {{ oferta.data | date: "dd/MM/yyyy" }}</p>
        <p>Data de Retorno: {{ oferta.retorno | date: "dd/MM/yyyy" }}</p>
        <p>Vagas Restantes: {{ oferta.vagas }}</p>
      </label>
    </div>
  </div>
  <div class="col col-md-8 tab">
    <tabset> 
     <tab  heading="Descrição" (selectTab)="onSelect($event)">
    <p>{{ oferta.descricao }}</p>
    <p>Embarque: {{ oferta.embarque }}</p>
    </tab>
    <tab class=" tabbagulho" heading="Roteiro da Viagem" (selectTab)="onSelect($event)">
      <p> Aqui será colocado o Roteiro da viagem  </p>
    </tab>
     </tabset> 
      </div>
</div>
