h1 {
    color: #555
}
.imagens {
    height: 260px;
    width: 400px;
    
    /*ALtura*/
    
}

.alinhar{
    bottom: 300px;
    left: 200px;
    
}
@media screen and (max-width: 500px) {
    .alinhar {
        padding-top: 300px;
       left: 10%;
       
        
        }
  }


/* .alinhar{
    border: .1em solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: inherit;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    left: 45em;
    bottom: 26em;
} */
/* .oferta{
    display: flex;
    flex-direction: column;
    height: 600px;
} */