h1 {
    color: #555
}

.oferta {
    margin-top: 25px
}

.oferta img {
    width: 372px;
    height: 240px;
}

.thumbnails {
    padding: 4px;
}

.thumbnails img {
    width: 124px;
    height: 80px;
     margin-right: 10px;
    margin-bottom: 10px; 
}
.inline-img{
    display: flex;
    
}
p{
    margin-top: 10px;

}